.color0 { color: white; }
.color1 { color: #FF8A45; }
.color2 { color: #FE4848; }
.color3 { color: #FBFE3B; }
.color4 { color: #7882FE; }
.color5 { color: #2C2C2B; }

@font-face{
font-family:'bp';
src:url('BPreplayBold.otf');
}
body{
background-color:#FF8A45;
margin-left:0;
}
*{
font-family:bp;
}
.button-style-1{

border-radius:0;
font-size:20px;
padding-right:25px;
padding-left:25px;
border:2px solid black;
box-shadow:5px 3px black;
background-color:#FF8A45;
color:white;
margin:10px 5px;
}
.button-style-1:hover{
border:3px solid black;
box-shadow:7px 5px black;
outline:0;
transition:ease 0.5s;
}
.button-style-2{
border-radius:0;
font-size:20px;
padding-right:25px;
padding-left:25px;
border:2px solid black;
box-shadow:5px 3px black;
background-color:#FE4848;
color:white;
margin:10px 5px;
}
.button-style-2:hover{
border:3px solid black;
box-shadow:7px 5px black;
outline:0;
transition:ease 0.5s;
}
.button-style-3{
border-radius:0;
font-size:20px;
padding-right:25px;
padding-left:25px;
border:2px solid black;
box-shadow:5px 3px black;
background-color:#FBFE3B;
color:black;
margin:10px 5px;
}
.button-style-3:hover{
border:3px solid black;
box-shadow:7px 5px black;
outline:0;
transition:ease 0.5s;
}
.button-style-4{
border-radius:0;
font-size:20px;
padding-right:25px;
padding-left:25px;
border:2px solid black;
box-shadow:5px 3px black;
background-color:#7882FE;
color:white;
margin:10px 5px;
}
.button-style-4:hover{
border:3px solid black;
box-shadow:7px 5px black;
outline:0;
transition:ease 0.5s;
}
.button-style-5{
border-radius:0;
font-size:20px;
padding-right:25px;
padding-left:25px;
border:2px solid black;
box-shadow:5px 3px black;
background-color:white;
color:black;
margin:10px 5px;
}
.button-style-5:hover{
border:3px solid black;
box-shadow:7px 5px black;
outline:0;
transition:ease 0.5s;
}

.jumbotron-style-1{
padding:14px 24px;
font-size:22px;
background-color:#FBFE3B;
box-shadow:7px 5px black;
margin-bottom:10px;
}
.jumbotron-style-2{
padding:14px 24px;
font-size:22px;
background-color:#FE4848;
box-shadow:7px 5px black;
margin-bottom:10px;
color:white;
}
hr{
border:2px solid black;
}

input{
width:100%;
padding:12px 20px;
display:inline-block;
box-sizing:border-box;
box-shadow:7px 5px black;
border:3px solid black;
}
.login{
padding:20px;
}

.codebox {
border:3px solid black;
background-color:#EEEEFF;
white-space: pre-line;
padding:10px;
font-size:0.9em;
display: inline-block;
box-sizing:border-box;
width:100%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: white;
  border-left:4px solid black;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#7882FE;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.button-style-nav{
border-radius:0;
font-size:20px;
padding-right:25px;
padding-left:25px;
border:2px solid black;
box-shadow:5px 3px black;
background-color:#FE4848;
color:white;
float:right;
}
.topnav{
padding:8px 15px;
background-color:#7882FE;
border:3px solid black;
box-shadow:7px 5px black;
}